:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --text-white-color: #ffffff;
  --table-text-color: #9da4bd;
  --background-section-color: #f7f7f7;
  --small-text-grey-color: rgba(157, 164, 189, 0.6);
  --transition-dur-cub: 250ms linear;
}
body {
  color: var(--text-color);
  background-color: var(--text-white-color);
  font-family: Open Sans, sans-serif;
}
/* COMPONENTS */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
h1,
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.button {
  border-radius: 25px;
  padding: 12px 20px;

  border: 1px solid var(--accent-color);
  background-color: var(--text-white-color);
  border-color: var(--accent-color);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.suptitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.suptitle::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}
.suptitle-theme-dark {
  color: var(--small-text-grey-color);
}
.suptitle-theme-dark::before {
  background-color: var(--small-text-grey-color);
}
.suptitle-theme-light {
  color: var(--title-color);
}
.suptitle-theme-light::before {
  background-color: var(--title-color);
}
/* COMPONENTS */
/* NAV */
.header .container {
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 2;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo-link {
  display: block;
  width: 69px;
  height: 55px;
  margin-right: 71px;
}
.nav-link,
.contact-link {
  color: var(--text-white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: color var(--transition-dur-cub);
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.contact-link {
  margin-left: auto;
  margin-right: 40px;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.button-header {
  border-radius: 25px;
  padding: 12px 20px;

  color: var(--text-white-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  transition: color var(--transition-dur-cub),
    background-color var(--transition-dur-cub);
}
.button-header:hover,
.button-header:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
/* NAV */
/* HERO-SECTION */
.hero-container {
  position: relative;
  display: flex;
  overflow: hidden;
}
.hero-part {
  position: relative;
  left: 100px;
  top: 0;
  display: block;

  padding-top: 274px;

  flex-grow: 1;
  padding-bottom: 206px;
  padding-left: 100px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/slider.jpg");
  background-color: rgba(25, 28, 38, 0.2);
  background-size: cover;
}
/* NETWORK */
.social-network {
  position: absolute;
  bottom: 0;
  left: 95px;
  display: flex;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  padding-bottom: 30px;
  padding-left: 40px;
}

.network-list {
  display: flex;
}
.network-item:not(:last-child) {
  margin-right: 40px;
}
.network-link {
  display: flex;
  align-items: center;
  color: var(--title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color var(--transition-dur-cub);
}
.network-link:hover,
.network-link:focus {
  color: var(--accent-color);
}
.network-inst::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: var(--title-color);
}
/* NETWORK */
/* HERO*/
.hero-title {
  margin-bottom: 20px;

  color: var(--text-white-color);

  font-size: 72px;
}
.hero-text {
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* HERO */
/* ABOUT */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-text-part {
  padding-right: 91px;
  padding-left: 64px;
}
.about-title {
  margin-bottom: 20px;

  color: var(--title-color);

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-text {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-text-big {
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.02em;
}
.about-button {
  background-color: transparent;
  transition: background-color var(--transition-dur-cub),
    color var(--transition-dur-cub);
}
.about-button:hover,
.about-button:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}
/* ABOUT */
/* PRICE*/
.price-section {
  text-align: center;
  background-color: rgba(17, 19, 25, 0.8);
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url(../images/imgprice.jpg);
  background-position: center;
  background-size: cover;
}
.price-list {
  display: flex;
  width: 585px;
  margin-bottom: 50px;
  /* height: 240px; */
}
.price-item {
  display: flex;
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list-left {
  background-image: linear-gradient(180deg, #171a24, rgba(23, 26, 36, 0.2));
}
.price-list-right {
  background-image: linear-gradient(180deg, #090b13, rgba(9, 11, 19, 0.2));
}
/* .underline {
  height: 1px;

  flex-grow: 1;
  margin: 0 6px;
  color: var(--table-text-color);
} */
.price-table {
  display: flex;
}
.price-list {
  display: block;
  padding: 30px 40px;
}
.price-title {
  margin-bottom: 44px;

  color: var(--text-white-color);

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.price-item {
  display: flex;
  align-items: baseline;
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.underline {
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}
.price-button {
  color: var(--text-white-color);
  background-color: transparent;
  transition: background-color var(--transition-dur-cub);
}
.price-button:hover,
.price-button:focus {
  background-color: var(--accent-color);
}
/* PRICE */
/* FEATURES */
.feature-container {
  display: flex;
}
.feature-title {
  margin-bottom: 6px;
  color: var(--title-color);

  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.right-feature-part {
  width: 500px;
}
.feature-text {
  color: var(--title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
}

.feature-big-title {
  margin-bottom: 20px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.feature-text-big {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* FEATURES */
/* MASTERS */
.master-section {
  background-color: var(--background-section-color);
}
.master-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.master-title {
  margin-bottom: 44px;
  color: var(--title-color);

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.master-text-small {
  margin-top: 8px;
  margin-bottom: 30px;
  color: var(--accent-color);

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}
.master-text-part {
  padding-top: 30px;
  text-align: center;
}
.master-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-white-color);
  color: var(--title-color);
}
.master-icon:hover,
.master-icon:focus {
  color: var(--accent-color);
}
.master-icon {
  fill: currentColor;
  transition: color var(--transition-dur-cub);
}
/* MASTERS */
/* PORTFOLIO */
.portfolio-text {
  margin-bottom: 44px;
}
.portfolio-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
/* PORTFOLIO */
/* CONTACTS */
.contacts {
  display: flex;
}
.contacts {
  background-color: #191c26;
}
.contact-info-section {
  width: 625px;
  margin-left: auto;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.9),
      rgba(17, 19, 25, 0.9)
    ),
    url(../images/Bg.jpg);
  background-size: cover;
  background-position: center;

  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.contact-title {
  margin-bottom: 44px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--text-white-color);
}
.contact-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-list {
  margin-bottom: 66px;
}
.contact-address {
  color: var(--table-text-color);
  /* stroke: var(--table-text-color); */

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color var(--transition-dur-cub);
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--table-text-color);
  /* stroke: var(--table-text-color); */

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color var(--transition-dur-cub);
}
.contact-address:hover,
.contact-address:focus {
  color: var(--accent-color);
  /* stroke: var(--accent-color); */
}
.contact-info:hover,
.contact-info:focus {
  color: var(--accent-color);
  /* stroke: var(--accent-color); */
}
.contact-icon {
  margin-right: 20px;
  fill: none;
  stroke: currentColor;
}
.contact-icon-address {
  margin-right: 20px;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}
.contact-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--text-white-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contact-subtitle::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--text-color);
}
.contact-text {
  color: var(--table-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* CONTACTS */
/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 56px 55px;
}
.footer-network-list {
  display: flex;
}
.footer-network-item:not(:last-child) {
  margin-right: 40px;
}
.footer-text {
  color: var(--table-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
