:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --text-white-color: #ffffff;
  --table-text-color: #9da4bd;
  --background-section-color: #f7f7f7;
  --small-text-grey-color: rgba(157, 164, 189, 0.6);
}
body {
  color: var(--text-color);
  background-color: var(--text-white-color);
  font-family: Open Sans, sans-serif;
}
/* COMPONENTS */
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border-radius: 25px;

  color: var(--title-color);
  background-color: var(--text-white-color);
  border-color: var(--accent-color);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.suptitle-theme-dark {
  color: var(--small-text-grey-color);
}
.suptitle-theme-light {
  color: var(--title-color);
}
/* COMPONENTS */
/* NAV */
.nav-link,
.contact-link {
  color: var(--text-white-color);
  background-color: #303030;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
.contact-link {
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.button-header {
  border-radius: 25px;

  color: var(--title-color);
  background-color: var(--text-white-color);
  border-color: var(--accent-color);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.button-header:hover,
.button-header:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
/* NAV */
/* NETWORK */
.network-link {
  color: var(--title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.network-link:hover,
.network-link:focus {
  color: var(--accent-color);
}
/* NETWORK */
/* HERO*/
.hero-title {
  color: var(--text-white-color);
  background-color: #303030;
}
.hero-text {
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* HERO */
/* ABOUT */
.about-title {
  color: var(--title-color);

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-text-big {
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.02em;
}
/* ABOUT */
/* PRICE*/
.price-title {
  color: var(--text-white-color);
  background-color: #303030;

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.price-table-td {
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* PRICE */
/* FEATURES */
.feature-title {
  color: var(--title-color);

  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.feature-text {
  color: var(--title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
}

.feature-big-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.feature-text-big {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* FEATURES */
/* MASTERS */
.master-title {
  color: var(--title-color);

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.master-subtitle {
  color: var(--title-color);

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}
.master-text-small {
  color: var(--accent-color);

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}
/* MASTERS */
/* FOOTER */
.footer-title {
  color: var(--text-white-color);
  background-color: #303030;

  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.footer-address,
.footer-contact {
  color: var(--table-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: normal;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-subtitle {
  color: var(--text-white-color);
  background-color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--table-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* FOOTER */
